/* .para{
   text-align: center;
}
.button{
    float:right;
} */


/* #icon
{
    margin:10px;
} */

.left{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
    
    margin: 10px;
   
    background-color: #376DC3; 
    color:white;

}
.para{
    display: flex;
    justify-content: space-around;
   
}

img{
    width:200px;
}

.bar
{
    /* ak line m lane k liye */
    display: flex;
    justify-content: space-around;
}


ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;

}

#select
{
    background-color: #376DC3;
    color:white;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 20px;
}

li:hover
{
    background-color: #376DC3;
    color:white;
    border-radius: 20px;
    cursor: pointer;
 }
.intro{
    display: flex;
    justify-content: space-around;
    background-color: #376DC3;
    color: white;
    text-align: center;
    margin: 10px;

} 
.text{
    text-align: center;
}
/* .logo{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
    
    margin: 10px;
    
   

    background-color: #2755e9ff;
} */

h1{
    color: white;
}
.text{
    max-width: 70%;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
}
.one{
    text-align: center;
    font-size: 45px;
    color: #8CC444;
    font-weight: 500;
    font-family: poppins;
}
.head{
    color: #376DC3;
    font-weight: 500;
}
.food{
    text-align: center;
    color: white;
}
.num{
    font-size: 50px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #376DC3;
    flex-wrap: wrap;
    
}
.green{
    color: #8CC444;
}
#service{
    font-size: 20px;
}
.fav{
    text-align: center;
    width: 50px; 
}
#container{
    display: flex;
    justify-content: space-around;
    color: #376DC3;
    text-align: center;
    margin: 10px;

}
.sadkah{
    padding: 40px 100px 40px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.line{
    width: 10%;
    height: 2px;
    background-color: #8CC444;
    text-align: left;
}
.hep{
    position: relative;
    bottom: 8px;
    left: 15px;
    font-weight: 400;
    color: #376DC3;
    
}

.housing{
    padding-right: 130px;
    float: left;
    margin-left: auto;
    
}
.mission{
    max-width: 60%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 600px;
}
.upcoming{
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    
    
}
.up{
    width: 40%;
    padding: 0px 20px 20px 20px;
    min-width: 300px;
}
.zakat{
    text-align: center;
}
footer{
    background-color: #25272E;
    color: white;
    padding: 5%;
}
#phone{
    color: #8CC444;
}
.contain{
    display: flex;
    justify-content: space-around;
}
.links{
    width: 200px;
    display: flex;
    justify-content: space-around;
    font-family: poppins;
}
.social-icons{
    display: flex;
    justify-content: space-around;
    font-family: poppins;
    display: inline-block;
    
}
/* .fa{
    margin: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: #376DC3;
    border-radius: 20px;
} */
#end{
    background-color: #376DC3;
}
#bound{
    margin: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: #376DC3;
    border-radius: 20px;
}
.project1{
    display: inline-block;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
   
    
}
.pro{
    display: inline-block;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}